.d-easy {
  background-color: chartreuse;
}

.d-normal {
  background-color: deepskyblue;
}

.d-hard {
  background-color: gold;
}

.d-expert {
  background-color: orangered;
}

.d-master {
  background-color: mediumpurple;
}