@import url('./difficulty.css');
@import url('./clear.css');
@import url('./range.css');

/* grid rayout */
.my-record-container {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: repeat(6, 1fr);
}

.item-music {
  grid-row: span 2;
}

.item-difficulty {
  display: flex;
  align-items: center;
}